*{ 
	/*outline: 1px solid red;*/
	/*box-sizing: border-box;*/
}
body{
	margin: 0 auto;
}


nav{
	background: blue;
	text-align: center;
	height: 3em;
	
}
h1{
	color:white;
	margin:auto;
	padding-top:5px;

}
.fondo{
	background-image: url("../images/india.jpg");
    background-size: cover;
    height: 700px;
}
div{
	background: white;
	margin:20px;
	margin-top: 30px;
	display: inline-block;
	overflow: hidden;
	clear:both;
}
#characters, input{
	border: 0;
	font-size: 30px;
	margin:10px;
	float: right;
	text-align: end;
}

.profile{
	padding: 10px;
	margin-left: 10%;
}

textarea{
	margin: 22px;
    padding: 12px;
    width: 500px;
    text-align: left;
	overflow-y:hidden;
}
a{
	text-decoration: none;
}
button{
	background: blue;
	color:white;
	padding: 10px;
	border:0;
	border-radius: 5px;
	margin:10px;
	float: left;
}
button:active{
	background: blue;
	color:#000;
	padding: 10px;
	border:0;
	border-radius: 10px;
	margin:10px;

}

#cont{
	width: 79%;
	margin-left: 10%;
	margin-right: 11%;
	overflow: hidden;
	
}
/*caracteristicas de la caja de contiene los comentarios*/
#cont div{
	width: 95%;
	padding: 1em .5em;
	margin-bottom: 2em;
	outline: .1em solid #E5E3F2;
	background:white;
}
.trash{
	margin:1em;
	float: right;
}
.trash:hover{
	color:#1DA1F2;
	cursor:pointer;
}

p{
	display: inline-block;
	margin-left: .5em;
	width: 400px;
}
.strike-out{
	color:#1DA1F2;
}
.tweet{
	color:blue;
}

#counter {
	margin:0;
	float: right;
}